export("chisqcens", "cumhazPlot", "gofcens", "KScens","CvMcens","ADcens", "probPlot", "kmPlot")

import("fitdistrplus", "grid", "ggplot2", "methods")
importFrom("survival", "Surv", "is.Surv", "survreg", "survfit")
importFrom("actuar", "dgumbel", "pgumbel", "qgumbel", "rgumbel",
           "dllogis", "pllogis", "qllogis", "rllogis")
importFrom("gridExtra", "grid.arrange")
importFrom("graphics", "abline", "layout", "lines", "par", "title")
importFrom("stats", "coefficients", "ecdf", "pbeta", "pexp", "plnorm",
           "plogis", "pnorm", "punif", "pweibull", "qbeta", "qexp",
           "qlnorm", "qlogis", "qnorm", "quantile", "qweibull", "time", "rbeta", "rexp",
           "rlnorm", "rlogis", "rnorm", "runif", "rweibull", "model.extract")
importFrom("boot", "boot")
importFrom("methods", "is")

S3method(summary, ADcens)
S3method(print, ADcens)
S3method(print, summary.ADcens)
S3method(ADcens, formula)
S3method(ADcens, default)
S3method(summary, KScens)
S3method(print, KScens)
S3method(print, summary.KScens)
S3method(KScens, formula)
S3method(KScens, default)
S3method(summary, CvMcens)
S3method(print, CvMcens)
S3method(print, summary.CvMcens)
S3method(CvMcens, formula)
S3method(CvMcens, default)
S3method(summary, chisqcens)
S3method(print, chisqcens)
S3method(print, summary.chisqcens)
S3method(chisqcens, formula)
S3method(chisqcens, default)
S3method(summary, gofcens)
S3method(print, gofcens)
S3method(print, summary.gofcens)
S3method(gofcens, formula)
S3method(gofcens, default)
S3method(print, probPlot)
S3method(plot, probPlot)
S3method(probPlot, formula)
S3method(probPlot, default)
S3method(print, kmPlot)
S3method(plot, kmPlot)
S3method(kmPlot, formula)
S3method(kmPlot, default)
S3method(print, cumhazPlot)
S3method(plot, cumhazPlot)
S3method(cumhazPlot, formula)
S3method(cumhazPlot, default)
