export("chisqcens", "cumhazPlot", "gofcens", "KScens","CvMcens","ADcens", "probPlot", "kmPlot")

import("fitdistrplus", "grid", "ggplot2", "survminer")
importFrom("survival", "Surv", "survreg", "survfit")
importFrom("actuar", "dgumbel", "pgumbel", "qgumbel", "rgumbel",
           "dllogis", "pllogis", "qllogis", "rllogis")
importFrom("gridExtra", "grid.arrange")
importFrom("graphics", "abline", "layout", "lines", "par", "title")
importFrom("stats", "coefficients", "ecdf", "pbeta", "pexp", "plnorm",
           "plogis", "pnorm", "punif", "pweibull", "qbeta", "qexp",
           "qlnorm", "qlogis", "qnorm", "quantile", "qweibull", "time", "rbeta", "rexp", "rlnorm", "rlogis", "rnorm",
           "runif", "rweibull")
importFrom("survminer", "ggsurvplot")
importFrom("boot", "boot")
